{% extends 'store/_Master.html' %}
{% load static %}
{% load humanize %}
{% block head_title %}EStore | Checkout{% endblock %}

{% block main_content %}
        
    <!-- Breadcrumb Start  -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
                <li class="breadcrumb-item active">Checkout</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Start -->
    <div class="checkout cart-page" style="padding-top: 0;">
        <div class="container-fluid">
            <form method="post">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-8" style="padding: 0">
                        <div class="col-lg-12">
                            <div class="checkout-inner">
                                <div class="billing-address">
                                    {% if request.session.session_KhachHang %}
                                        <h2>Địa chỉ nhận hàng</h2>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label><strong>{{ request.session.session_KhachHang.first_name }} {{ request.session.session_KhachHang.last_name }} - <a href="tel:{{ request.session.session_KhachHang.tel }}">{{ request.session.session_KhachHang.tel }}</a></strong></label>
                                            </div>
                                            <div class="col-md-8">
                                                <label><strong>{{ request.session.session_KhachHang.address }}</strong></label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div>Quý khách chưa đăng nhập. Vui lòng <a href="{% url 'customer:customer_login' %}">đăng nhập</a> để thực hiện đặt hàng.</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="cart-page-inner">
                                {% if cart|length > 0 %}
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Đơn giá</th>
                                                    <th>Số lượng</th>
                                                    <th>Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                            {% for item in cart %}
                                                {% with product=item.product %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>
                                                            <div class="img">
                                                                <a href="">
                                                                    <img height="100" width="100" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                                                                <p><a href="">{{ product.name }}</a></p>
                                                            </div>
                                                        </td>
                                                        <td style="text-align: right">{% load humanize %}{{ product.price|floatformat:0|intcomma }} đ</td>
                                                        <td>{{ item.quantity }}</td>
                                                        <td style="text-align: right">{% load humanize %}{{ item.total_price|floatformat:0|intcomma }} đ</td>
                                                    </tr>
                                                {% endwith %}
                                            {% endfor %}
                                            <tr>
                                                <td colspan="2" style="text-align: right">
                                                    <a class="btn" href="{% url 'store:index' %}">Tiếp tục mua hàng</a>
                                                    <a class="btn" href="{% url 'cart:cart_detail' %}">Cập nhật giỏ hàng</a>
                                                </td>
                                                <td colspan="2" style="text-align: right"><strong>Tổng cộng:</strong></td>
                                                <td style="text-align: right"><strong>{% load humanize %}{{ cart.get_final_total_price|floatformat:0|intcomma }} đ</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div>Không có sản phẩm trong giỏ hàng.</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 0">
                        <div class="col-lg-12">
                            <div class="checkout-inner">
                                <div class="checkout-summary">
                                    <h1>Thông tin đơn hàng</h1>
                                    <p>Tạm tính<span>{% load humanize %}{{ cart.get_total_price|floatformat:0|intcomma }} đ</span></p>
                                    <p>Giảm giá:<span>{% load humanize %}{{ cart.get_discount|floatformat:0|intcomma }} đ</span></p>
                                    <p>Phí giao hàng<span>0 đ</span></p>
                                    <h2>Tổng thành tiền<span>{% load humanize %}{{ cart.get_final_total_price|floatformat:0|intcomma }} đ</span></h2>
                                </div>

                                <div class="checkout-payment">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="checkout-btn">
                                            <button type="submit" name="btnDatHang" value="Đặt hàng">Đặt hàng</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Checkout End -->

{% endblock %}