{% extends 'store/_Master.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title_tab %}Shop | Thông tin của tôi{% endblock title_tab %}

{% block main_content %} 
        
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
                <li class="breadcrumb-item active">Thông tin của tôi</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- My Account Start -->
    <div class="my-account">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>Thông tin của tôi</a>
                        <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>Đơn hàng</a>
                        <a class="nav-link" href="{% url 'customer:customer_logout' %}"><i class="fa fa-sign-out-alt"></i>Đăng xuất</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                            <h4>Thông tin của tôi</h4>
                            <form method="post">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        {{ result_update_info|safe }}
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" placeholder="Họ" name="ho" value="{{ request.session.session_KhachHang.last_name }}">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" placeholder="Tên" name="ten" value="{{ request.session.session_KhachHang.first_name }}">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" placeholder="Điện thoại" name="dien_thoai" value="{{ request.session.session_KhachHang.tel }}">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" placeholder="Email" name="email" readonly value="{{ request.session.session_KhachHang.email }}">
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" placeholder="Địa chỉ" name="dia_chi" value="{{ request.session.session_KhachHang.address }}">
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn" name="btnCapNhat" value="Cập nhật">Cập nhật</button>
                                        <br><br>
                                    </div>
                                </div>
                            </form>
                            <h4>Đổi mật khẩu</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control" type="password" placeholder="Mật khẩu hiện tại">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Mật khẩu mới">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" placeholder="Xác nhận mật khẩu mới">
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày đặt hàng</th>
                                            <th>Tổng thành tiền</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>#{{ order.pk }}</td>
                                                <td>{{ order.created }}</td>
                                                <td>{{ order.total|floatformat:0|intcomma }}</td>
                                                <td>
                                                    {% if order.status == 1 %}
                                                    <span class="badge badge-pill badge-success">Đã giao</span>
                                                    {% else %}
                                                    <span class="badge badge-pill badge-danger">Chưa giao</span>
                                                    {% endif %}
                                                </td>
                                                <td><button class="btn" data-toggle="modal" data-target="#o{{ order.pk }}">Chi tiết</button></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account  End -->
    
    <!-- Modal -->
    {% for order_id, order_items in dict_orders.items %}
    <div class="modal fade" id="o{{ order_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đơn hàng #{{ order_id }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order_item in order_items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <img src="{{ order_item.product_image.url }}" alt="{{ order_item.product_name }}" width="70">
                                </td>
                                <td>{{ order_item.product_name }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.price|floatformat:'0'|intcomma }}</td>
                                <td>
                                    {% with total=order_item.quantity|mul:order_item.price %}
                                        {{ total|floatformat:'0'|intcomma }}
                                    {% endwith %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr style="color: red;">
                                <td colspan="5" class="text-right"><h5><b>Tổng tiền</b></h5></td>
                                <td><h5><b>{{ order_items.0.total_price|floatformat:'0'|intcomma }}</b></h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}